<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
        Makes debugging easier by keeping browser open after failure.

        If this is set to true, use the following for manual cleanup:
        taskkill /im iisexpress.exe /im chromedriver.exe /t /f
    -->
    <add key="tests:KeepWebDriversIfFailed" value="false" />
  </appSettings>
</configuration>